$size5: 0.313rem; // 5px
$size8: 0.5rem; // 8px
$size9: 0.563rem; // 9px
$size12: 0.75rem; // 12px
$size16: 1rem; // 16px
$size20: 1.25rem; // 20px
$size24: 1.5rem; // 24px
$size36: 2.25rem; // 36px
$size44: 2.75rem; // 44px
$size46: 2.875rem; // 46px
$size48: 3rem; // 48px
$size70: 4.375rem; // 70px
$size100: 6.25rem; // 100px
$size136: 8.5rem; // 136px
$size164: 10.25rem; // 164px
