.text-dark {
  color: #1c1b1f;
}

.text-primary {
  color: #0066ff;
}

.text-dark {
  color: #1c1b1f;
}

.bg-primary {
  background-color: #0066ff;
}

.bg-white {
  background-color: #fff;
}

.bg-gray {
  background-color: #a3a6aa;
}

.d-flex {
  display: flex;
}

.align-items-start {
  align-items: start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-between {
  justify-content: space-between;
}

// Spacing
.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}
