.circle {
  position: absolute;
  border-radius: 100%;

  &-md {
    width: 36.75rem;
    height: 36.75rem;
    background-color: rgba(1, 71, 174, 1);
    right: 50px;
    bottom: -270px;
  }

  &-lg {
    width: 43rem;
    height: 43rem;
    right: 0;
    bottom: -40%;
    background-color: rgba(0, 102, 255, 1);
  }
}
